.detail-main{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  padding: 30px 200px 0 200px;
  height: 1200px;
}
.aside-title{
  width: 300px;
  margin-bottom: 30px;
}

.aside-title a{
  text-decoration: none;
  color: black;
}

.aside{
  width: 300px;
  background-color: azure;
  padding: 0;
  margin-right: 40px;
}

.desc{
  margin-top: 60px;
}