.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 200px 0 200px;
  background-color: aliceblue;
}

.note-title {
  width: 220px;
  height: 300px;
  background-color: darkorange;
  margin-right: 30px;
  color: white;
  text-align: center;
  line-height: 300px;
  font-size: 24px;
  margin-bottom: 30px;
}